<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <!-- To use @component annotation -->
    <context:component-scan base-package="com.sorcerer.xmldependency"></context:component-scan>
    
    <!-- without @Component annotation -->
    <bean id="train" class="com.sorcerer.xmldependency.Train"></bean>
    <bean id="flight" class="com.sorcerer.xmldependency.Flight"></bean> 
	<bean id="payment" class="com.sorcerer.xmldependency.Payment">
		<property name="defaultPayment" value="CARD"></property>
		<constructor-arg value="UPI"></constructor-arg>
	</bean> 
</beans>